.root{
  --black: #222222;
  --grey: #3d3d3d;
  --white: #cccccc;
  --purple: #AA2BCA35;
  --red: #E6394640;
}

hr {
    border: none;
    width: 100%;
    height: 7px;
    color: #333;  /* old IE */
    background-color: #333;  /* Modern Browsers */
  }

img {
  border-radius: 20px ;
  margin-left: 50%;
  transform: translateX(-50%);
}
.codeblock-customizer-icon-container img, hr.finale + img{
  border-radius: initial;
  border: initial;
} 
.markdown-preview-view strong{
  font-weight: bolder;
  color:whitesmoke;
  background-color: #22222290;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  font-style: oblique;
}
.lc-list-callout {
  margin-top: -20px;
}
.lc-list-callout .list-bullet{
  display:none;
}
.lc-list-callout .list-collapse-indicator {
  display: none;
}

div.list-collapse-indicator{
  margin-right: -25px;
}

